html {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    font-family: inherit;
    box-sizing: inherit;
}

a {
    color: dodgerblue;
}

h1, h2 {
    margin: 0;
}

input, button {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.wide {
    display: block;
    width: 100%;
}

main {
}

pre {
    overflow: auto;
    white-space: pre;
    padding: 1rem 0;
    word-wrap: normal;
}

.night,
.night input,
.night button {
    color: whitesmoke;
    background-color: #333;
}

.center {
    text-align: center;
}

.inline {
    display: inline;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
}

.dim {
    opacity: 0.5;
}

.push-down {
    margin-top: 1rem;
}

.cross {
    text-decoration: line-through;
}

.list-reset {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "side content";
}

.side {
    grid-area: side;
}

.content {
    grid-area: content;
    overflow: auto;
}

#app {
    padding: 1rem;
    min-height: 100vh;
}

.provider + .provider {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid;
}

.messages {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;

    background-color: tomato;
    color: white;
}

.sticky {
    position: sticky;
    top: 1rem;
}