<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deutsch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="app">
    <main class="grid">
        <div class="side">
            <form @submit.prevent="onSubmit"
                  class="search no-select">
                <div>
                    <input type="text"
                           name="q"
                           v-model="query"
                           placeholder="type a word"
                           autofocus>
                </div>
                <div class="push-down">
                    <template v-for="provider in providers">
                        <label :for="'provider__' + provider.name">
                            <input type="checkbox"
                                   :id="'provider__' + provider.name"
                                   v-model="provider.enabled">
                            <span :class="{cross: !provider.enabled}">
                                [[ provider.name ]]
                            </span>
                        </label>
                    </template>
                </div>
                <div class="push-down" v-show="query">
                    <button
                            :disabled="!canSearch()"
                    >
                        Search
                    </button>
                </div>
            </form>
            <button class="push-down"
                    v-show="hasExamples()"
                    @click="copyExamples">Copy
            </button>
        </div>
        <div class="content">
            <div class="examples">
                <example v-for="example in examples"
                         v-bind:key="example.provider"
                         v-bind:data="example"></example>
            </div>
        </div>
    </main>
</div>
<script type="text/x-template" id="provider-example">
    <section :class="{dim: data.examples.length < 1, provider: true}">
        <div class="no-select">
            <a :href="data.url" class="dim">[[ data.provider ]]</a>
            <h2 class="no-select">[[ data.term ]]</h2>
        </div>
        <ul v-if="data.examples.length">
            <li v-for="ex in data.examples">[[ ex ]]</li>
        </ul>
        <p v-else class="no-select">No examples</p>
    </section>
</script>
<script>
    const providers = {{ providers|tojson }};
</script>
<script src="{{ url_for('static', filename='vue.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>