<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deutsch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<main id="app">
    <messages v-bind:messages="messages" v-if="messages.length"></messages>
    <div class="grid">
        <div class="side">
            <div class="sticky">
                <h1>SuperExample 2000</h1>
                <search-form
                        class="push-down"
                        :providers="providers"
                        :query="query"
                        :is-busy="isBusy"
                        :auto-search="autoSearch"
                        v-on:search="onSearch"
                ></search-form>

                <details class="push-down">
                    <summary><h3 class="inline">Options</h3></summary>
                    <div class="push-down">
                        <label><input type="checkbox" v-model="autoSearch">
                            Auto search on paste</label>
                    </div>
                </details>
                <details class="push-down">
                    <summary><h3 class="inline">Help</h3></summary>
                    <div class="push-down small">
                        <p><kbd>Alt + C</kbd>: Copy examples to clipboard</p>
                        <p><kbd>Alt + N</kbd>: Toggle night mode</p>
                    </div>
                </details>

            </div>
        </div>
        <div class="content">
            <h2 v-show="examples.length">Results</h2>
            <examples
                    v-show="examples.length"
                    :examples="examples"
            ></examples>
        </div>
    </div>
</main>


<script type="text/x-template" id="search-form-template">
    <form @submit.prevent="onSubmit"
          class="search no-select">
        <input type="text"
               class="wide"
               name="query"
               v-model="term"
               placeholder="type a word">
        <button class="push-down button wide"
                :disabled="!canSearch">
            [[ isBusy ? 'Searching...' : 'Search' ]]
        </button>
        <details class="push-down" open>
            <summary><h3 class="inline">Sources</h3></summary>
            <div class="push-down">
                <label class="wide"
                       v-for="provider in providers">
                    <input type="checkbox"
                           v-model="provider.enabled">
                    <span :class="{cross: !provider.enabled}">[[ provider.name ]]</span>
                </label>
            </div>
        </details>
    </form>
</script>


<script type="text/x-template" id="examples-template">
    <article class="examples">
        <header>
            <label v-for="p in availableExamples">
                <input type="checkbox" v-model="p.picked">
                <span :class="{cross: !p.picked}">[[ p.provider ]] <span class="count">([[ p.examples.length  ]])</span></span>
            </label>
            <button class="button button--small" @click="copyExamples">Copy</button>
        </header>
        <div class="push-down">
            <example v-for="e in pickedExamples"
                     :key="e.provider"
                     :provider="e.provider"
                     :examples="e.examples"
                     :url="e.url"
                     :term="e.term"
            ></example>
        </div>
    </article>
</script>


<script type="text/x-template" id="example-template">
    <section :class="{dim: examples.length < 1, provider: true}">
        <div class="no-select">
            <a :href="url" class="dim" target="_blank">[[ provider ]]</a>
            <h3>[[ term ]]</h3>
        </div>
        <ul v-if="examples.length">
            <li v-for="ex in examples">[[ ex ]]</li>
        </ul>
        <p v-else class="no-select">No examples</p>
    </section>
</script>


<script type="text/x-template" id="messages-template">
    <ul class="messages list-reset">
        <li v-for="m in messages">
            <b class="provider">[[ m.provider ]]</b>:
            <span class="message">[[ m.message ]]</span>
        </li>
    </ul>
</script>


<script>
    const providers = {{ providers|tojson }};
</script>
<script src="{{ url_for('static', filename='vue.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>